.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 9px 0;
  display: block;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  outline: transparent;
}

.popup__input::placeholder {
  color: inherit;
  font-size: 14px;
}

.popup__input:first-child {
  margin-bottom: 30px;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 320px) {
  .popup__input:last-of-type {
    margin-bottom: 45px;
  }
}