.popup__profession {
	border: 0;
	padding: 0 0 13px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	display: block;
	font-size: 14px;
	height: 15px;
	width: 100%;
	margin-bottom: 48px;
	outline: transparent;
}

.popup__profession::placeholder {
	color: inherit;
	font-size: 14px;
}